<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dt    d/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxkj.zncrm.dao.mapper.FileMapper">

	<select id="getFileById" parameterType="String" resultType="com.hxkj.zncrm.dao.domain.FileEntity">
		SELECT * FROM upload_file WHERE file_id = #{fileId};
	</select>

	<select id="getFilelist" parameterType="Map" resultType="com.hxkj.zncrm.dao.domain.FileEntity">
		SELECT * FROM upload_file WHERE menu_id = #{menuId} and status=1 LIMIT #{start_index}, #{page_size};
	</select>
	
	<select id="getFileListCount" parameterType="Map" resultType="String">
		SELECT count(*) FROM upload_file WHERE menu_id = #{menuId};
	</select>
	
	<insert id="addFile">
		insert upload_file
		<set>
			<if test="menu_id != null">menu_id=#{menu_id},</if>
			<if test="title != null">title=#{title},</if>
			<if test="author != null">author=#{author}</if>
		</set>
		<selectKey keyProperty="file_id" resultType="long">
			select
			LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<update id="delFile">
		UPDATE upload_file set status='-1' where file_id=#{file_id};
	</update>
	
	<update id="setFileName">
		UPDATE upload_file set file_name=#{file_name} where file_id=#{file_id};
	</update>
</mapper>