<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxkj.zncrm.dao.mapper.HomeMapper">

	<select id="getChartEntityList" parameterType="Map"
		resultType="com.hxkj.zncrm.po.ChartEntity">
		SELECT recorder,COUNT(*) as num FROM project WHERE
		cur_status=#{cur_status}
		AND TO_DAYS(NOW()) - TO_DAYS(record_time) &lt;= #{days} GROUP BY recorder
		HAVING COUNT(*);
	</select>

</mapper>