<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxkj.zncrm.dao.mapper.HomeMapper">

	<select id="getChartEntityList" parameterType="Map"
		resultType="com.hxkj.zncrm.po.ChartEntity">
		SELECT recorder,COUNT(*) as num FROM project WHERE
		cur_status=#{cur_status}
		AND TO_DAYS(NOW()) - TO_DAYS(record_time)
		&lt;= #{days} GROUP BY recorder
		HAVING COUNT(*);
	</select>

	<select id="getNameList" resultType="String">
		SELECT LAST_ FROM act_id_user WHERE (job='销售部' or job='业务部') and status!='-1';
	</select>
	
	<select id="getQuitList" resultType="String">
		SELECT LAST_ FROM act_id_user WHERE status='-1';
	</select>

</mapper>