<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dt    d/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxkj.zncrm.dao.mapper.UserMapper">
	<!-- Create a new User -->
	
	<insert id="addRole">
		insert act_id_group
		<set>
			<if test="role_id != null">ID_=#{role_id},</if>
			<if test="role_id != null">REV_='1',</if>
			<if test="role_id != null">NAME_=#{role_id},</if>
			<if test="role_id != null">TYPE_='assignment',</if>
			<if test="authorities != null">authorities=#{authorities},</if>
		</set>

	</insert>
	
	<insert id="addUser">
		insert act_id_user
		<set>
			<if test="username != null">ID_=#{username},</if>
			<if test="username != null">REV_='2',</if>
			<if test="username != null">FIRST_=#{username},</if>
			<if test="real_name != null">LAST_=#{real_name},</if>
			<if test="password != null">PWD_=#{password},</if>
			<if test="password != null">PICTURE_ID_='22',</if>
			<if test="job != null">job=#{job},</if>
			<if test="phone != null">phone=#{phone},</if>
			<if test="role_id != null">role_id=#{role_id},</if>
		</set>

	</insert>
	
	<insert id="addMembership">
		insert act_id_membership
		<set>
			<if test="username != null">USER_ID_=#{username},</if>
			<if test="username != null">GROUP_ID_=#{role_id},</if>
		</set>

	</insert>

	<select id="login" parameterType="Map" resultType="com.hxkj.zncrm.po.User">
		SELECT ID_ as
		username,PWD_ as password,PICTURE_ID_ as picId,LAST_ as real_name,role_id from
		act_id_user WHERE
		ID_ = #{username} and PWD_ = #{password} and status
		!= '-1';
	</select>

	<select id="getJobList" parameterType="Map"
		resultType="com.hxkj.zncrm.dao.domain.JobEntity">
		SELECT * FROM job;
	</select>

	<select id="getRoleList" parameterType="Map"
		resultType="com.hxkj.zncrm.dao.domain.RoleEntity">
		SELECT ID_ as id,REV_ as rev,NAME_ as name,TYPE_ as type
		FROM act_id_group
	</select>

	<select id="getRoleListPage" parameterType="Map"
		resultType="com.hxkj.zncrm.dao.domain.RoleEntity">
		SELECT ID_ as id,REV_ as rev,NAME_ as name,TYPE_ as type
		FROM act_id_group where status!='-1' LIMIT #{start_index},
		#{page_size};
	</select>

	<select id="getRoleListPageCount" parameterType="Map"
		resultType="String">
		SELECT
		count(*)
		FROM act_id_group where status!='-1';
	</select>


	<select id="getUserByUsername" parameterType="Map"
		resultType="com.hxkj.zncrm.po.User">
		SELECT
		ID_ as username,PWD_ as password,LAST_ AS
		real_name,phone,role_id,job,PICTURE_ID_ AS picId,status
		FROM
		act_id_user where ID_=#{username};
	</select>

	<select id="getUserList" parameterType="Map" resultType="com.hxkj.zncrm.po.User">
		SELECT
		ID_ as username,PWD_ as password,LAST_ AS
		real_name,phone,role_id,job,PICTURE_ID_ AS picId,status
		FROM
		act_id_user ORDER
		BY `status` DESC LIMIT #{start_index},
		#{page_size};
	</select>

	<select id="getUserCount" parameterType="Map" resultType="String">
		SELECT
		count(*)
		FROM act_id_user ORDER BY `status` DESC
	</select>

	<update id="delUser">
		UPDATE act_id_user set status='-1' where
		ID_=#{username};
	</update>

	<update id="updateUser">
		UPDATE act_id_user
		<set>
			<if test="username != null">FIRST_=#{username},</if>
			<if test="real_name != null">LAST_=#{real_name},</if>
			<if test="password != null">PWD_=#{password},</if>
			<if test="job != null">job=#{job},</if>
			<if test="phone != null">phone=#{phone},</if>
			<if test="role_id != null">role_id=#{role_id},</if>
		</set>
		where ID_=#{username};
	</update>
	
	<update id="updateMembership">
		UPDATE act_id_membership
		<set>
			<if test="role_id != null">GROUP_ID_=#{role_id},</if>
		</set>
		where USER_ID_=#{username};
	</update>

	<delete id="delMenuByRole">
		DELETE FROM group_menu WHERE group_id = #{role_id};
	</delete>
	
	<update id="updateRole">
		UPDATE act_id_group
		<set>
			<if test="role_id != null">ID_=#{role_id},</if>
			<if test="role_id != null">REV_='1',</if>
			<if test="role_id != null">NAME_=#{role_id},</if>
			<if test="role_id != null">TYPE_='assignment',</if>
			<if test="authorities != null">authorities=#{authorities},</if>
		</set>
		where ID_=#{role_id};
	</update>

	<insert id="addRoleMenu" parameterType="com.hxkj.zncrm.dao.domain.GroupMenuEntity">
		INSERT INTO group_menu(group_id,menu_id) values 
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.group_id},#{item.menu_id})
		</foreach>
	</insert>
	
	<select id="getAuthById" parameterType="Map" resultType="String">
		SELECT authorities from act_id_group WHERE ID_ = #{group_id};
	</select>
</mapper>