<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dt    d/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxkj.zncrm.dao.mapper.YingshouMapper">

	<update id="delReceive">
		UPDATE receive set status='-1' where id=#{id}
	</update>

	<update id="updateReceive">
		UPDATE receive
		<set>
			<if test="cus_name != null">cus_name=#{cus_name},</if>
			<if test="cus_add != null">cus_add=#{cus_add},</if>
			<if test="project_name != null">project_name=#{project_name},</if>
			<if test="total_loan != null">total_loan=#{total_loan},</if>
			<if test="down_payment != null">down_payment=#{down_payment},</if>
			<if test="down_payment_time != null">down_payment_time=#{down_payment_time},</if>
			<if test="two_payment != null">two_payment=#{two_payment},</if>
			<if test="two_payment_time != null">two_payment_time=#{two_payment_time},</if>
			<if test="final_payment != null">final_payment=#{final_payment},</if>
			<if test="final_payment_time != null">final_payment_time=#{final_payment_time},</if>
			<if test="non_payment != null">non_payment=#{non_payment},</if>
			<if test="note != null">note=#{note},</if>
		</set>
		where id=#{id}
	</update>

	<insert id="addReceive">
		insert receive
		<set>
			<if test="cus_name != null">cus_name=#{cus_name},</if>
			<if test="cus_add != null">cus_add=#{cus_add},</if>
			<if test="project_name != null">project_name=#{project_name},</if>
			<if test="total_loan != null">total_loan=#{total_loan},</if>
			<if test="down_payment != null">down_payment=#{down_payment},</if>
			<if test="down_payment_time != null">down_payment_time=#{down_payment_time},</if>
			<if test="two_payment != null">two_payment=#{two_payment},</if>
			<if test="two_payment_time != null">two_payment_time=#{two_payment_time},</if>
			<if test="final_payment != null">final_payment=#{final_payment},</if>
			<if test="final_payment_time != null">final_payment_time=#{final_payment_time},</if>
			<if test="non_payment != null">non_payment=#{non_payment},</if>
			<if test="note != null">note=#{note},</if>
		</set>

		<selectKey keyProperty="id" resultType="long">
			select
			LAST_INSERT_ID()
		</selectKey>
	</insert>

	<select id="getReceiveList" parameterType="Map"
		resultType="com.hxkj.zncrm.dao.domain.ReceiveEntity">
		SELECT * FROM receive
		<where>
			<if test="search_key != null">
				(
				<if test="search_key != null">
					cus_name like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or cus_add like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or project_name like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or total_loan like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or down_payment like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or down_payment_time like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or two_payment like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or two_payment_time like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or final_payment like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or final_payment_time like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or non_payment like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or note like '%${search_key}%'
				</if>
				)
			</if>
			and status='1'
		</where>
		LIMIT #{start_index}, #{page_size};
	</select>

	<select id="getReceiveCount" parameterType="Map" resultType="String">
		SELECT count(*) FROM receive
		<where>
			<if test="search_key != null">
				(
				<if test="search_key != null">
					cus_name like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or cus_add like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or project_name like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or total_loan like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or down_payment like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or down_payment_time like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or two_payment like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or two_payment_time like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or final_payment like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or final_payment_time like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or non_payment like '%${search_key}%'
				</if>
				<if test="search_key != null">
					or note like '%${search_key}%'
				</if>
				)
			</if>
			and status='1'
		</where>
	</select>

</mapper>