.innerContent {
	background-color: #fff;
	padding-left: 15px;
	padding-top: 10px;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.id_display{
	display:none;
}

.modal-dialog {
    width: auto;
    margin: 30px auto;
}
.key-style{
	font-weight:900;
}